@import '~@pdftron/webviewer-react-toolkit/dist/css/style.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');

html,
body,
#root {
  height: 100%;
}

html {
  background-color: var(--color-background-canvas);
}

body {
  margin: 0;
  font-family: Lato;
  color: var(--color-font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
